In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.cluster.hierarchy import dendrogram, linkage

In [5]:
df=pd.read_csv('cars.csv')

In [6]:
X=df[['Price','Mileage','Cylinder']]
X.head()

          Price  Mileage  Cylinder
0  17314.103129     8221         6
1  17542.036083     9135         6
2  16218.847862    13196         6
3  16336.913140    16342         6
4  16339.170324    19832         6