In [77]:
import pandas as pd

In [78]:
df.head()

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uzbekistan,Vanuatu,Vatican City,Venezuela,Vietnam,Wallis and Futuna,Western Sahara,Yemen,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1970,5.198728e+06,2.783043e+06,1.326090e+07,34051.861403,25786.836095,2.610243e+06,5162.498295,58512.761514,2.400916e+07,3.037428e+06,...,1.184315e+07,70671.435576,777.445805,1.229557e+07,4.339194e+07,11294.483600,20006.062143,4.392189e+06,2.624222e+06,5.321116e+06
1971,5.821933e+06,2.787028e+06,1.385400e+07,34417.339576,26878.460837,3.185991e+06,5365.109686,59167.611343,2.443186e+07,3.035428e+06,...,1.227406e+07,75299.271671,772.613552,1.265353e+07,4.447742e+07,11323.083321,30205.072276,4.927234e+06,2.930180e+06,5.526045e+06
1972,6.445139e+06,2.791012e+06,1.444710e+07,34782.817750,27970.085578,3.761740e+06,5567.721078,59822.461173,2.485456e+07,3.033429e+06,...,1.270497e+07,79927.107765,767.781300,1.301149e+07,4.556290e+07,11351.683043,40404.082409,5.462279e+06,3.236138e+06,5.730973e+06
1973,7.068344e+06,2.794997e+06,1.504019e+07,35148.295923,29061.710320,4.337488e+06,5770.332469,60477.311002,2.527726e+07,3.031429e+06,...,1.313589e+07,84554.943860,762.949047,1.336945e+07,4.664838e+07,11380.282764,50603.092542,5.997323e+06,3.542096e+06,5.935902e+06
1974,7.691549e+06,2.798981e+06,1.563329e+07,35513.774096,30153.335062,4.913237e+06,5972.943860,61132.160832,2.569995e+07,3.029430e+06,...,1.356680e+07,89182.779955,758.116794,1.372741e+07,4.773386e+07,11408.882486,60802.102675,6.532368e+06,3.848053e+06,6.140831e+06

In [82]:
df = pd.read_csv('extended_world_population.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Columns: 235 entries, Year to Zimbabwe
dtypes: float64(234), int64(1)
memory usage: 106.6 KB

In [83]:
df.set_index('Year', inplace=True)
df_race_population = df[['Turkey','Algeria', 'Afghanistan', 'Argentina','India','Japan','Vietnam', 'China', 'United States', 'United Kingdom', 'Germany', 'France', 'Italy', 'Spain', 'Netherlands', 'Belgium']]
  
print(df_race_population.dtypes)

Turkey            float64
Algeria           float64
Afghanistan       float64
Argentina         float64
India             float64
Japan             float64
Vietnam           float64
China             float64
United States     float64
United Kingdom    float64
Germany           float64
France            float64
Italy             float64
Spain             float64
Netherlands       float64
Belgium           float64
dtype: object

In [85]:
import bar_chart_race as bcr
bcr.bar_chart_race(df_race_population, filename='population.mp4',figsize=(10,8),title='WORLD POPULATION CHANGE BY YEARS',
bar_label_size=9, tick_label_size=9, period_fmt='{x:.0f}')

c:\Users\ahmi_\AppData\Local\Programs\Python\Python310\lib\site-packages\bar_chart_race\_make_chart.py:889: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_values.iloc[:, 0] = df_values.iloc[:, 0].fillna(method='ffill')
c:\Users\ahmi_\AppData\Local\Programs\Python\Python310\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
c:\Users\ahmi_\AppData\Local\Programs\Python\Python310\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))